extends layout



block content
 
  h1.appTitle MRC Registiration
  .row
    .col-md-6.centered.bottomMargin
      input(class = "bottomBorder" placeholder="Volunteer Team" type="text" name="name")
  .row      
    .col-md-6.centered.bottomMargin
       input(class = "bottomBorder" placeholder="Email*" type="text" name="name")
  .row      
    .col-md-6.centered.bottomMargin
      input(class = "bottomBorder" placeholder="Phone" type="text" name="name")
  .row      
    .col-md-6.centered.bottomMargin
      input(class = "bottomBorder" type="text" name="name")
  .row
  h2.centered Expertise
   .col-md-6.centered.bottomMargin 
    input(class = "bottomBorder" placeholder = "Select All That Are Relevant" type="text" name="name")
