extends layout

block content

  h1 
  p.lead Welcome to the BI2FI Repair Cafe support system system!  Register as a volunteer and ask for help.  https://www.metrovanrepaircafes.ca
  hr
  .row
    .col-md-6
      h2 Volunteer
      p
        a.btn.btn-raised(href='/volunteer', role='button') Start »
    .col-md-6
      h2 Get Help
      p
        a.btn.btn-raised(href='/help', role='button') Start »