extends layout

block content
  h1 
  p.lead Requests
  each request in requests
    .card
      div From: #{request.from}
      div Category: #{request.category}
      div Message: #{request.message}
