extends layout

block content
  h1 
  p.lead Help Requests
  each request in requests
    .card
      .card-body
        div From: #{request.from}
        div Category: #{request.category}
        div Message: #{request.message}
