extends ../layout

block content
  h1 
  p.lead Registered Volunteers

  if volunteers.length>0
    each volunteer in volunteers
      .card
        .card-body
          div Email: #{volunteer.email}
          div Categories: #{volunteer.categories}
  else
    .card
      div No volunteers found